
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ed7f63;
    --bs-btn-border-color: #ed7f63;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #aa4648;
    --bs-btn-hover-border-color: #aa4648;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aa4648;
    --bs-btn-active-border-color: #aa4648;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #aa4648;
    --bs-btn-disabled-border-color: #aa4648;
}

.display-space {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
    padding-left: 460px;
    padding-right: 460px;
}

.col-lg-6 {
    text-align: start;
    padding-left: 200px;
}

.display-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.container {
    text-align: start;
}

.cta {
    background-image: url('red.png');
}

.col-md-5 {
    color: #fff;
}

.btn-outline-secondary {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #ed7f63;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #ed7f63;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.col-md-7 {
    align-items: end;
}

.mb-3 {
    margin-bottom: -35px!important;
}

.text-muted {
    padding-right: 190px;
}

.navbar-brand {
    padding-right: 1700px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ed7f63;
    --bs-btn-border-color: #ed7f63;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #aa4648;
    --bs-btn-hover-border-color: #aa4648;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ed7f63;
    --bs-btn-active-border-color: #ed7f63;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ed7f63;
    --bs-btn-disabled-border-color: #198754;
}

.lead-1 {
    padding-top: 50px;
}
